@import "./variable.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
}

// Navbar Section Start
.navbar {
  background-color: #fff;

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    a {
      text-decoration: none;
      font-family: "roboto", sans-serif;
    }
    .nokhu {
      text-transform: uppercase;
      color: #000000;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    .active {
      color: #00BCD4;
    }
    li a {
      text-decoration: none;
      font-size: 12px;
      color: #524949;
      text-transform: uppercase;
      letter-spacing: 1px;font-weight: bold;
      font-family: "montserrat", sans-serif;
      transition: all 0.4s ease;
    }
    li a:hover {
      color: #00BCD4;
    }
  }
}
// Navbar Section End

// Hero Section Start
.hero-section {
  background-image: url(/assets/image/mim.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  z-index: 0;
  
 .container {
  z-index: 2;
 }
  .hero-content {
    padding: 15rem 0;

    h1 {
      color: #fff;
      font-size: 44px;
      line-height: 4rem;
    }

    p {
      padding: 1rem 0;
      color: #ffffff80;
      line-height: 2rem;
      font-size: 17px;
    }
  }

  .hero-section::after {
    content: "";
    
  }

  .button-group {
    display: flex;
    gap: 1rem;
    .buy-button {
      padding: 12px 20px;
      background-color: transparent;
      border: none;
      background-color: #00BCD4;
      color: #fff;
      border-radius: 20px;
      transition: all 0.4s ease;
    }

    .read-more-button {
      padding: 8px 20px;
      background-color: transparent;
      border: none;
      border: 1px solid #00BCD4;
      border-radius: 18px;
      color: #00BCD4;
      transition: all 0.4s ease;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-left: 0.5rem;
        
      }
    }
    .read-more-button:hover {
      background-color: #00BCD4;
      color: #fff;
    }

    .buy-button:hover {
      background-color: #008FA1;
    }
    
    

  }

}
// Hero Section End

// Accordion Section Start
.accordion-items {
  display: flex;
  align-items: center;
  margin-top: 5rem;

  .box {
    flex: 1;
  }

  .accordion-main {
    width: 100%;

    .items {
      display: flex;
      background-color: #F8F9FA;
      margin: 10px 0;
      align-items: center;
      border-radius: 5px;
    }
    
    .icon {
      padding: 12px 18px;
      background-color: #00BCD4;
      margin-right: 10px;
      font-size: 18px;
      color: #fff;
    }
  }
}
// Accordion Section End


// Skill Section Start
.skill-section {
  margin-top: 3rem;
  padding: 4rem 0;
  background-color:#F8F9FA;

  .skill-content {
    display: flex;
    padding: 10px 0;

    .skill-item {
      width: 285px;
      display: flex;

      .icons-box {
        width: 60px;
        height: 60px;
        background-color: #00BCD4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #fff;
      }
      h3 {
        margin-left: 1rem;
        padding: 1.2rem 0;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
// Skill Section End

// Features Section Start
.features-section {
  padding: 4rem 0;

  .features-content {
    text-align: center;
    span {
      font-size: 26px;
      color: #535353;
      text-transform: uppercase;
    }
    p {
      padding: 1rem;
      line-height: 1.8rem;
      color: #707070;
    }
    .features-color {
        color: #00BCD4;
        font-weight: bold;
        margin-left: 5px;
      }
  }

  .features-card {
    display: flex;
    align-items: center;
    justify-content: center;

    .colum img{
       width: 80%;
       display: block;
       margin: auto;
    }
    .features-item {
      width: 356px;
      height: auto;
      text-align: center;
      margin: 0.9rem 0;

      h3 {
        color: #535353;
        font-size: 18px;
        margin-bottom: 0.5rem;
      }
      p {
        color: #707070;
        font-size: 15px;
        line-height: 1.5rem;
      }

      .icons {
        width: 65px;
        height: 65px;
        background-color: #CCF2F6;
        border-radius: 50% 50% 50% 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 40%;
        margin-bottom: 1rem;
        img {
          width: 50%;
        }
      }
    }
  }

}
// Features Section End

// Results Section Start
.results-section {
  display: flex;
  margin-bottom: 2rem;
  background-color: #F8F9FA;

  .results-text {
    padding: 5rem 4rem;
    h3 {
      color: #707070;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 2rem;
    }
    p {
      color: #535353;
      line-height: 2rem;
    }
  }

  .results {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    
    
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: #272727;
    margin-top: 0.5rem;
  }

  .btn {
    padding: 1.5rem 0;

    .read-more {
      padding: 10px 16px;
      background-color: transparent;
      border: none;
      border: 1px solid #00BCD4;
      border-radius: 18px;
      color: #00BCD4;
      font-size: 700;
      transition: all 0.4s ease;
    }
    .read-more:hover {
      background-color: #00BCD4;
      color: #fff;
    }
  }

}
// Results Section End








