@import "./variable.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
}

// Navbar Section Start
.navbar {
  background-color: #fff;

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    a {
      text-decoration: none;
      font-family: "roboto", sans-serif;
    }
    .nokhu {
      text-transform: uppercase;
      color: #000000;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    .active {
      color: #00BCD4;
    }
    li a {
      text-decoration: none;
      font-size: 12px;
      color: #524949;
      text-transform: uppercase;
      letter-spacing: 1px;font-weight: bold;
      font-family: "montserrat", sans-serif;
      transition: all 0.4s ease;
    }
    li a:hover {
      color: #00BCD4;
    }
  }
}
// Navbar Section End

// Hero Section Start
.hero-section {
  background-image: url(/assets/image/mim.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  z-index: 0;
  
 .container {
  z-index: 2;
 }
  .hero-content {
    padding: 15rem 0;

    h1 {
      color: #fff;
      font-size: 44px;
      line-height: 4rem;
    }

    p {
      padding: 1rem 0;
      color: #ffffff80;
      line-height: 2rem;
      font-size: 17px;
    }
  }

  .hero-section::after {
    content: "";
    
  }

  .button-group {
    display: flex;
    gap: 1rem;
    .buy-button {
      padding: 12px 20px;
      background-color: transparent;
      border: none;
      background-color: #00BCD4;
      color: #fff;
      border-radius: 20px;
      transition: all 0.4s ease;
    }

    .read-more-button {
      padding: 8px 20px;
      background-color: transparent;
      border: none;
      border: 1px solid #00BCD4;
      border-radius: 18px;
      color: #00BCD4;
      transition: all 0.4s ease;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-left: 0.5rem;
        
      }
    }
    .read-more-button:hover {
      background-color: #00BCD4;
      color: #fff;
    }

    .buy-button:hover {
      background-color: #008FA1;
    }
    
    

  }

}
// Hero Section End